* {
  margin: 0;
  padding: 0;
}
/* shared styles */
.flex {
  display: flex;
}
.dark-1 {
  color: rgba(37, 36, 50, 1);
}
.light-1 {
  color: rgba(137, 135, 161, 1);
}
.dark-2 {
  color: #000000;
}
.orange {
  color: rgba(233, 90, 8, 1);
}
.light-dark-5 {
  color: rgba(0, 0, 0, 0.5);
}
.white {
  color: white;
}
.primary-btn {
  background-color: rgba(233, 90, 8, 1);
  color: #ffffff;
  width: 100%;
  border: none;
  height: 3.1rem;
}

/* header section styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}
.basic-menu li a {
  text-decoration: none;
}
.basic-menu li {
  list-style: none;
  margin-right: 3rem;
}
.cart-btn a {
  text-decoration: none;
}
.intro-banner {
  justify-content: space-between;
  margin: 120px auto;
  max-width: 1140px;
  align-items: end;
}
.intro-title,
.intro-desc {
  margin-bottom: 0.8rem;
}
.intro-title {
  font-size: 4rem;
  font-weight: bold;
}
.intro-desc {
  font-size: 1.3rem;
}
.hero-img {
  width: 100%;
}

/* Plants buy section */
.plants-section-title {
  font-size: 3.1rem;
  font-weight: bold;
}
.plants-section {
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
}
.plants-buy-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.plants-section-title,
.plants-section-desc {
  margin-bottom: 35px;
}

.card-img,
.plant-name,
.plant-price {
  margin-bottom: 0.8rem;
}
.card-img {
  width: 100%;
}

/* flower-plant-lover-section */
.flower-plant-lover-section {
  justify-content: space-between;
  max-width: 1140px;
  margin: 140px auto;
  gap: 5.75rem;
}
.flower-store-img {
  width: 100%;
}
.plant-lover-section-title {
  font-size: 3.1rem;
  font-weight: bold;
  max-width: 540px;
}
.lover-desc {
  padding-left: 30px;
  font-size: 1.2rem;
}
.lover-desc li {
  margin-top: 50px;
}

/* latest-deal-section */
.latest-deal-section {
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
}
.latest-deal-title {
  font-size: 3.1rem;
  font-weight: bold;
}
.latest-deal-desc {
  font-size: 1.2rem;
}
.latest-deal-title,
.latest-deal-desc {
  margin-bottom: 30px;
}

.promo-container {
  display: flex;
  max-width: 1140px;
  margin: 40px auto;
  gap: 20px;
  padding: 0 20px;
}

.left-column {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.promo-card,
.right-column {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  height: 200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-column {
  width: 66.66%;
  height: 100%;
  min-height: 420px;
}

.promo-text {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.promo-text h2,
.promo-text h3 {
  margin: 0;
  font-weight: bold;
}

.promo-text a {
  margin-top: 10px;
  display: inline-block;
  color: white;
  font-weight: bold;
  border-radius: 2px solid white;
}

/* join section */
.join-section {
  background-image: url("./assets/news-letter-bg.png");
  background-size: cover;
  width: 100%;
  height: 535px;
  text-align: center;
  align-content: center;
  position: relative;
}
.join-title {
  font-size: 3.1rem;
  margin-bottom: 30px;
  font-weight: bold;
}
.input-button input {
  height: 3.1rem;
  width: 45%;
  padding-left: 50px;
}
.input-button button {
  height: 3.2rem;
  background-color: rgba(233, 90, 8, 1);
  border: none;
  width: 25%;
  font-size: 1rem;
}

/* footer section style */
.important-links {
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 80px auto;
}

.page-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 33.33%;
  gap: 1.5rem;
}

.page-links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.footer-desc {
  font-size: 1.2rem;
}

.footer-logo-desc {
  width: 33.33%;
}

.social-link {
  justify-content: space-around;
  align-items: center;
  width: 33.33%;
}
/* Responsive Styles for mobile Device */
@media screen and (max-width: 576px) {
  .navbar {
    padding: 0 20px;
  }
  .intro-banner {
    flex-direction: column-reverse;
  }
  .nav-logo img {
    width: 50%;
  }
  .intro-info {
    margin-top: 50px;
  }
  .intro-title {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .intro-desc {
    font-size: 1rem;
  }
  .basic-menu {
    display: none;
  }
  .plants-buy-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .flower-plant-lover-section {
    flex-direction: column;
  }
  .plant-lover-section-title {
    font-size: 2.5rem;
  }
  .promo-container {
    flex-direction: column;
  }
  .left-column,
  .right-column {
    width: 100%;
  }
  .right-column {
    min-height: 200px;
  }
  .important-links {
    flex-direction: column;
  }
  .page-links {
    grid-template-columns: 1fr;
  }
  .footer-logo-desc,
  .social-link,
  .page-links {
    width: 80%;
    margin-bottom: 50px;
  }
}
